[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
v = {editable = true,version = "*"}

[packages]
flask = "*"
python-dotenv = "*"
frozen-flask = "*"
flask-flatpages = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
bootstrap-flask = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
